*{
  padding:0px; 
  margin:0px;
   box-sizing:border-box;
}

.app{
  background-color:black;
  height:100vh;
  min-width:100vw;
  
}

.app_wrapper{
  /* border:1px solid grey; */
  box-sizing:border-box;
}